<!-- todo: captcha -->
<!-- todo: refactor with form tag -->
<div class="flex justify-center">
  <div class="flex flex-col w-1/2 space-y-4">
    <div class="flex justify-center">
      <div class="text-2xl font-bold">Sign up for Ggspp</div>
    </div>
    <div id="sign-up-status" style="margin: 0"></div>
    <div>
      <div class="font-bold">Email</div>
      <input id="sign-up-email" name="email" class="w-full" />
    </div>
    <div>
      <div class="font-bold">Password</div>
      <input
        id="sign-up-password"
        name="password"
        class="w-full"
        type="password"
      />
    </div>
    <button
      id="sign-up-button"
      hx-include="[name='email'], [name='password']"
      hx-post="/sign-up"
      hx-target="#sign-up-status"
      hx-swap="outerHTML"
    >
      Sign Up
    </button>
    <div class="flex justify-center">
      <a href="/sign-in">Already have an account? Sign in</a>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("sign-up-button")
    .addEventListener("click", function (event) {
      document.getElementById("sign-up-email").readOnly = true;
      document.getElementById("sign-up-password").readOnly = true;
      document.getElementById("sign-up-button").readOnly = true;
    });

  document.body.addEventListener("sign-up-error", function (event) {
    document.getElementById("sign-up-email").readOnly = false;
    document.getElementById("sign-up-password").readOnly = false;
    document.getElementById("sign-up-button").readOnly = false;
  });

  document.body.addEventListener("sign-up-success", function (event) {
    setTimeout(() => {
      location.href = "/sign-in";
    }, 1000);
  });
</script>
