<!-- todo: captcha -->
<!-- https://github.com/SamHerbert/SVG-Loaders/tree/master/svg-loaders -->

{{ define "content" }}

<iframe id="bg-iframe" src="{{ .cornpopUrl }}/bg/{{ .bg }}/page.html"></iframe>

<div id="fader" class="fader-below h-full transition-transform duration-1000 text-2xl text-white">
    <div id="sign-in-page"
        class='h-full flex justify-center items-center transition-opacity duration-500 {{ if eq .registrarAction "sign-up" }} opacity-0 hidden {{ end }}'>
        <div id="sign-in-window" class="w-[90%] p-5 bg-slate-900/75 border border-sky-500 backdrop-blur-sm">
            <form id="sign-in-form" class="flex flex-col gap-5" onsubmit="signIn(event)">
                <h1 class="font-bold text-5xl lg:text-3xl text-center">Sign In to Washambi</h1>

                <div>
                    <label class="font-bold" for="sign-in-username">Username:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="sign-in-username" name="sign-in-username" required />
                </div>

                <div>
                    <label class="font-bold" for="sign-in-password">Password:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="sign-in-password" name="sign-in-password" type="password" required />
                    <button onclick='switchAction("recovery")' type="button" class="underline mt-1">
                        Forgot password?
                    </button>
                </div>

                <button id="sign-in-submit"
                    class="h-[50px] lg:h-[40px] flex justify-center items-center font-bold bg-green-800 hover:bg-green-900 border border-green-500 rounded-full"
                    type="submit">
                    <span id="sign-in-text"> Sign In </span>
                    <img id="sign-in-loader" class="w-[50px] hidden" src="/public/image/three-dots.svg">
                    <span id="sign-in-success" class="hidden"> Success! </span>
                </button>

                <div id="sign-in-error" class="p-3 outline outline-1 outline-red-500 bg-red-800 hidden">
                    🚫 <span id="sign-in-error-text"></span>
                </div>

                <button type="button" onclick='switchAction("sign-up")' class="text-center">
                    Don't have an account? <span class="underline">Sign up</span>
                </button>
            </form>
        </div>
    </div>

    <div id="sign-up-page"
        class='h-full flex justify-center items-center transition-opacity duration-500 {{ if eq .registrarAction "sign-in" }} opacity-0 hidden {{ end }}'>
        <div id="sign-up-window" class="w-[90%] p-5 bg-slate-900/75 border border-sky-500 backdrop-blur-sm">
            <form id="sign-up-form" class="flex flex-col gap-5" onsubmit="signUp(event)">
                <h1 class="font-bold text-5xl lg:text-3xl text-center">Sign Up for Washambi</h1>

                <div>
                    <label class="font-bold" for="sign-up-username">Username:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="sign-up-username" name="sign-up-username" onchange="validateUsername(event)" required />
                </div>

                <div>
                    <label class="font-bold" for="sign-up-password">Password:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="sign-up-password" name="sign-up-password" type="password"
                        onchange="validateSignUpPassword()" required />
                </div>

                <div>
                    <label class="font-bold" for="confirm-password">
                        Confirm password:
                    </label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="confirm-password" name="confirm-password" type="password"
                        onchange="validateSignUpPassword()" required />
                </div>

                <h2 class="mt-3 font-bold text-3xl lg:text-2xl text-center">Security Questions</h2>

                <div>
                    <select id="security-prompt-1" name="security-prompt-1" class="w-full text-black"
                        onchange="selectPrompt(event)" required>
                        <option value="">-- select question --</option>
                        <option value="Favorite actor">Favorite actor</option>
                        <option value="Favorite band">Favorite band</option>
                        <option value="Favorite book">Favorite book</option>
                        <option value="Favorite food">Favorite food</option>
                        <option value="Favorite movie">Favorite movie</option>
                        <option value="First pet's name">First pet's name</option>
                        <option value="Street you grew up on">Street you grew up on</option>
                    </select>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="security-answer-1" name="security-answer-1" type="text" required />
                </div>

                <div>
                    <select id="security-prompt-2" name="security-prompt-2" class="w-full text-black"
                        onchange="selectPrompt(event)" required>
                        <option value="">-- select question --</option>
                        <option value="Favorite actor">Favorite actor</option>
                        <option value="Favorite band">Favorite band</option>
                        <option value="Favorite book">Favorite book</option>
                        <option value="Favorite food">Favorite food</option>
                        <option value="Favorite movie">Favorite movie</option>
                        <option value="First pet's name">First pet's name</option>
                        <option value="Street you grew up on">Street you grew up on</option>
                    </select>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="security-answer-2" name="security-answer-2" type="text" required />
                </div>

                <div>
                    <select id="security-prompt-3" name="security-prompt-3" class="w-full text-black"
                        onchange="selectPrompt(event)" required>
                        <option value="">-- select question --</option>
                        <option value="Favorite actor">Favorite actor</option>
                        <option value="Favorite band">Favorite band</option>
                        <option value="Favorite book">Favorite book</option>
                        <option value="Favorite food">Favorite food</option>
                        <option value="Favorite movie">Favorite movie</option>
                        <option value="First pet's name">First pet's name</option>
                        <option value="Street you grew up on">Street you grew up on</option>
                    </select>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="security-answer-3" name="security-answer-3" type="text" required />
                </div>

                <button id="sign-up-submit"
                    class="mt-3 h-[50px] lg:h-[40px] flex justify-center items-center font-bold bg-green-800 hover:bg-green-900 border border-green-500 rounded-full"
                    type="submit">
                    <span id="sign-up-text"> Sign Up </span>
                    <img id="sign-up-loader" class="w-[50px] hidden" src="/public/image/three-dots.svg">
                    <span id="sign-up-success" class="hidden"> Success! </span>
                </button>

                <div id="sign-up-error" class="p-3 outline outline-1 outline-red-500 bg-red-800 hidden">
                    🚫 <span id="sign-up-error-text"></span>
                </div>

                <button onclick='switchAction("sign-in")' class="text-center" type="button">
                    Already have an account? <span class="underline">Sign in</span>
                </button>
            </form>
        </div>
    </div>

    <div id="recovery-page"
        class="h-full flex justify-center items-center transition-opacity duration-500 opacity-0 hidden">
        <div id="recovery-window" class="w-[90%] p-5 bg-slate-900/75 border border-sky-500 backdrop-blur-sm">
            <!-- todo: transition form -->
            <form id="recovery-form-1" class="flex flex-col gap-5" onsubmit="recovery1(event)">
                <h1 class="font-bold text-5xl lg:text-3xl text-center">Recover Account</h1>

                <div>
                    <label class="font-bold" for="recovery-username">Username:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="recovery-username" name="recovery-username" required />
                </div>

                <button id="recovery-submit-1"
                    class="h-[50px] lg:h-[40px] flex justify-center items-center font-bold bg-green-800 hover:bg-green-900 border border-green-500 rounded-full"
                    type="submit">
                    <span id="recovery-submit-1-text"> Next </span>
                    <img id="recovery-submit-1-loader" class="w-[50px] hidden" src="/public/image/three-dots.svg">
                    <!-- <span id="recovery-submit-1-success" class="hidden"> Success! </span> -->
                </button>

                <div id="recovery-error-1" class="p-3 outline outline-1 outline-red-500 bg-red-800 hidden">
                    🚫 <span id="recovery-error-1-text"></span>
                </div>
            </form>

            <form id="recovery-form-2" class="flex flex-col gap-5 hidden" onsubmit="recovery2(event)">
                <h1 class="font-bold text-5xl lg:text-3xl text-center">Security Questions</h1>

                <div>
                    <label id="recovery-prompt-1" class="font-bold" for="recovery-answer-1"></label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="recovery-answer-1" name="recovery-answer-1" type="text" required />
                </div>

                <div>
                    <label id="recovery-prompt-2" class="font-bold" for="recovery-answer-2"></label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="recovery-answer-2" name="recovery-answer-2" type="text" required />
                </div>

                <div>
                    <label id="recovery-prompt-3" class="font-bold" for="recovery-answer-3"></label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="recovery-answer-3" name="recovery-answer-3" type="text" required />
                </div>

                <h2 class="mt-3 font-bold text-3xl lg:text-2xl text-center">Reset Password</h2>

                <div>
                    <label class="font-bold" for="recovery-password">New password:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="recovery-password" name="recovery-password" type="password"
                        onchange="validateResetPassword()" required />
                </div>

                <div>
                    <label class="font-bold" for="recovery-confirm-password">Confirm new password:</label>
                    <input class="text-black w-full rounded border-2 border-slate-300 valid:border-green-500"
                        id="recovery-confirm-password" name="recovery-confirm-password" type="password"
                        onchange="validateResetPassword()" required />
                </div>

                <button id="recovery-submit-2"
                    class="mt-3 h-[50px] lg:h-[40px] flex justify-center items-center font-bold bg-green-800 hover:bg-green-900 border border-green-500 rounded-full"
                    type="submit">
                    <span id="recovery-submit-2-text"> Reset </span>
                    <img id="recovery-submit-2-loader" class="w-[50px] hidden" src="/public/image/three-dots.svg">
                    <span id="recovery-submit-2-success" class="hidden"> Success! </span>
                </button>

                <div id="recovery-error-2" class="p-3 outline outline-1 outline-red-500 bg-red-800 hidden">
                    🚫 <span id="recovery-error-2-text"></span>
                </div>
            </form>

            <div class="mt-5 flex justify-center gap-1">
                <button onclick='switchAction("sign-in")' type="button" class="underline"> Sign In </button>
                <span>/</span>
                <button onclick='switchAction("sign-up")' type="button" class="underline"> Sign Up </button>
            </div>
        </div>
    </div>
</div>

<div id="carousel"
    class=' {{ if eq .registrarAction "sign-in" }} carousel-sign-in-below {{ else }} carousel-sign-up-below {{ end }} flex w-[300vw] h-full transition-transform duration-1000 text-white'>
    <div class="h-full w-[100vw] flex justify-center items-center">
        <div id="sign-in-window-lg" class="w-[640px] p-5 bg-slate-900/75 border border-sky-500 backdrop-blur-sm">
        </div>
    </div>

    <div class="h-full w-[100vw] flex justify-center items-center">
        <div id="sign-up-window-lg" class="w-[640px] p-5 bg-slate-900/75 border border-sky-500 backdrop-blur-sm">
        </div>
    </div>

    <div class="h-full w-[100vw] flex justify-center items-center">
        <div id="recovery-window-lg" class="w-[640px] p-5 bg-slate-900/75 border border-sky-500 backdrop-blur-sm">
        </div>
    </div>
</div>

<script type="module" src="/public/script/registrar.js"></script>

{{ end }}
