<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8" />
    <title>Washambi</title>

    {{ range .scripts }} {{ if .type }}
    <script type="{{ .type }}" src="{{ .path }}"></script>
    {{ else }}
    <script src="{{ .path }}"></script>
    {{ end }} {{ end }}

    <link rel="stylesheet" href="/public/style/main.css" type="text/css" />
    <link rel="stylesheet" href="{{ .fancypenosiUrl }}/public/style/navigator.css" type="text/css" />

    {{ range .styles }}
    <link rel="stylesheet" href="/public/style/{{ . }}.css" type="text/css" />
    {{ end }}
</head>

<body class="h-full opacity-0 transition-opacity duration-[2000ms] bg-slate-800 text-white">
    {{ block "content" . }} {{ end }}

    <script>
        const fancypenosiUrl = {{ .fancypenosiUrl }};
    </script>

    <script type="module" src="/public/script/main.js"></script>
</body>

</html>
