{{define "view"}}
<div id="view" class="h-full w-full flex">
    <div id="domain-list" class="h-full w-[200px] min-w-[200px] bg-slate-900 border border-transparent border-r-slate-500 overflow-y-scroll" >
        <div class="p-2 flex items-center gap-2 bg-sky-700 hover:bg-sky-800 cursor-pointer" onclick="domainNew()" >
            <i class="gg-add-r"></i>
            <span> New </span>
        </div>
        <div id="domain-list-item-next" style="display: none;"></div>
        {{range .domainList}}
        {{block "domain-list-item" .}}{{end}}
        {{end}}
    </div>
    {{block "domain-form" .domainForm}}{{end}}
</div>
{{end}}

{{define "domain-list-item"}}
<div 
    class="p-2 flex items-center gap-2 bg-slate-700 hover:bg-slate-800 border border-transparent border-b-slate-500 cursor-pointer"
    onclick='domainGet("{{.ID}}")'
>
    {{if .Favicon}}
    <img src="{{.Favicon | asUrl}}" alt="favicon" class="h-[18px] w-[18px]"/>
    {{else}}
    <i class="gg-globe-alt"></i>
    {{end}}
    <span>{{.Name}}</span>
</div>
{{end}}

{{define "domain-form"}}
<form 
    id="domain-form"
    class="grow p-2 flex flex-col gap-2"
    data-domain-id="{{.ID}}"
    onsubmit="domainCreate(event)"
>
    <div class="p-2 flex flex-col gap-2 rounded-lg bg-slate-700">
        <div>
            <label for="domain-name-input" class="text-slate-500"> Domain Name </label>
            <div class="flex gap-2">
                <input id="domain-name-input" class="w-full" name="domain-name-input" placeholder='eg. "google.com"' type="text" pattern="\S(.*\S)?" required
                    {{if .Name}}
                    value="{{.Name}}"
                    readonly
                    {{end}}
                >
                {{if .Name}}
                <button id="domain-name-edit-btn" type="button" onclick="domainNameEdit()"> edit </button>
                <button id="domain-name-save-btn" type="button" style="display: none;" onclick='domainNameEditSave("{{.ID}}")'> save </button>
                <button id="domain-name-cancel-btn" type="button" style="display: none;" onclick="domainNameEditCancel()"> cancel </button>
                {{end}}
            </div>
        </div>

        <div>
            <label for="domain-tags-input" class="text-slate-500" > Tags </label>
            <div class="flex gap-2">
                <div id="domain-tags" class="w-full flex flex-wrap gap-2" > 
                    {{range .Tags}}
                        {{block "tag-editable" .}}{{end}}
                    {{end}}
                    <span id="domain-tag-next" style="display: none;" ></span>
                    <input id="domain-tags-input" name="domain-tags-input" list="tag-completion" type="text" size="10" placeholder='eg. "evil"' onkeyup="newTag(event)"
                        {{if .Tags}}
                        readonly
                        {{end}}
                    >
                </div>
                {{if .Tags}}
                <button id="domain-tags-edit-btn" type="button" onclick="domainTagsEdit()"> edit </button>
                <button id="domain-tags-save-btn" type="button" style="display: none;" onclick='domainTagsEditSave("{{.ID}}")'> save </button>
                <button id="domain-tags-cancel-btn" type="button" style="display: none;" onclick="domainTagsEditCancel()"> cancel </button>
                {{end}}
            </div>
        </div>
    </div>

    <div id="profiles" class="flex flex-col gap-2">
        {{range .Profiles}}
        {{block "profile" .}}{{end}}
        {{end}}
        <div id="profile-next" style="display: none;"> </div>
    </div>
    <button type="button" onclick="profileNew()">[A] profile</button>

    {{if .Name}}{{else}}
    <button class="px-2 py-1 bg-blue-700 hover:bg-blue-800 border border-1 border-blue-500" type="submit">
        save
    </button>
    {{end}}
</form>
{{end}}

{{define "profile"}}
<div id="{{.ID}}" class="p-2 flex flex-col gap-2 rounded-lg bg-slate-700">
    <div>
        <label for="name-{{.ID}}" class="text-slate-500"> Profile Name </label>
        <div class="flex gap-2">
            <input 
                id="name-{{.ID}}" 
                name="name-{{.ID}}" 
                class="w-full" 
                placeholder='eg. "main"' type="text" pattern="\S(.*\S)?" required
                {{if .Name}}
                value="{{.Name}}"
                {{end}}
            >
        </div>
    </div>

    <div id="profile-fields">
        {{range .ProfileFields}}
        {{block "profile-field" .}}{{end}}
        {{end}}
        <div id="profile-field-next" style="display: none;"> </div>
    </div>
    <div>
        <button type="button">[A]</button>
    </div>

    <button type="button" onclick='deleteOuter("profile-{{.ID}}")'>[D] profile</button>
</div>
{{end}}

{{define "profile-field"}}
<div id="{{.ID}}" class="flex gap-2">
    <!-- todo: can't delete first field -->
    <button type="button">[D]</button>
    <div class="w-full">
        <div class="flex gap-2">
            <input 
                id="name-{{.ID}}" 
                name="name-{{.ID}}" 
                class="w-full text-slate-500 placeholder:text-slate-500" 
                placeholder="Name" type="text" pattern="\S(.*\S)?" required
                {{if .Name}}
                value="{{.Name}}"
                {{end}}
            >
        </div>
        <div class="flex gap-2">
            <input 
                id="value-{{.ID}}" 
                name="value-{{.ID}}" 
                class="w-full" 
                placeholder="Value" type="text" pattern="\S(.*\S)?" required
                {{if .Value}}
                value="{{.Value}}"
                {{end}}
            >
            <select 
                id="type-{{.ID}}" 
                name="type-{{.ID}}" 
                onchange='selectValueType(event, "{{.ID}}")'
            >
                <option value="text">text</option>
                <option value="email">email</option>
                <option value="password">password</option>
                <option value="phone">phone</option>
            </select>
        </div>
    </div>
</div>
{{end}}

{{define "tag-editable"}}
<div 
    id="domain-tag-{{.Name}}" 
    class="px-2 py-1 flex items-center bg-green-800 border border-green-500" 
>
    <span class="domain-tag-name"> {{.Name}} </span>
    <i 
        class="gg-close domain-tag-delete-btn" 
        style="cursor: pointer; display: none;"
        onclick='deleteOuter("domain-tag-{{.Name}}")' 
    ></i>
</div>
{{end}}

