{{define "view"}}
<div id="view" class="h-full w-full flex">
    <div id="domain-list" class="h-full w-[200px] min-w-[200px] bg-slate-900 border border-transparent border-r-slate-500 overflow-y-scroll" >
        <div class="p-2 flex items-center gap-2 bg-sky-700 hover:bg-sky-800 cursor-pointer" onclick="domainNew()" >
            <i class="gg-add-r"></i>
            <span> New </span>
        </div>
        {{range .domainList}}
        {{block "domain-list-item" .}}{{end}}
        {{end}}
    </div>
    {{block "domain-form" .}}{{end}}
</div>
{{end}}

{{define "domain-list-item"}}
<div 
    class="p-2 flex items-center gap-2 bg-slate-700 hover:bg-slate-800 border border-transparent border-b-slate-500 cursor-pointer"
    onclick='domainGet("{{.ID}}")'
>
    {{if .Favicon}}
    <img src="{{.Favicon | asUrl}}" alt="favicon" class="h-[18px] w-[18px]"/>
    {{else}}
    <i class="gg-globe-alt"></i>
    {{end}}
    <span>{{.Name}}</span>
</div>
{{end}}

{{define "domain-form"}}
<form 
    id="domain-form"
    class="grow p-2"
    onsubmit="domainCreate(event)"
>
    <div class="p-2 rounded-lg bg-slate-700">
        <label for="domain-name-input" class="text-slate-500" > Domain Name </label>
        <div class="flex gap-2">
            <input id="domain-name-input" class="mb-1 w-full" name="domain-name-input" placeholder='eg. "google.com"' type="text" pattern="\S(.*\S)?" required
                {{if .Editable}}
                value="{{.Name}}"
                readonly
                {{end}}
            >
            {{if .Editable}}
            <button id="domain-name-edit-btn" type="button" > edit </button>
            <button id="domain-name-save-btn" type="button" style="display: none;" > save </button>
            <button id="domain-name-cancel-btn" type="button" style="display: none;" > cancel </button>
            {{end}}
        </div>

        <label for="domain-tags-input" class="text-slate-500" > Tags </label>
        <div class="flex gap-2">
            <div id="domain-tags" class="w-full mb-1 flex flex-wrap gap-2" > 
                {{if .Editable}}
                    {{range .Tags}}
                        {{block "tag-editable" .}}{{end}}
                    {{end}}
                {{end}}
                <span id="domain-tag-next" style="display: none;" ></span>
                <input id="domain-tags-input" name="domain-tags-input" list="tag-completion" type="text" size="10" placeholder='eg. "evil"' onkeyup="newTag(event)"
                    {{if .Editable}}
                    readonly
                    {{end}}
                >
            </div>
            {{if .Editable}}
            <button id="domain-tags-edit-btn" type="button" > edit </button>
            <button id="domain-tags-save-btn" type="button" style="display: none;" > save </button>
            <button id="domain-tags-cancel-btn" type="button" style="display: none;" > cancel </button>
            {{end}}
        </div>
    </div>

    {{if .Editable}}{{else}}
    <button class="px-2 py-1 mt-1 bg-blue-700 hover:bg-blue-800 border border-1 border-blue-500" type="submit">
        save
    </button>
    {{end}}
</form>
{{end}}

{{define "tag-editable"}}
<div 
    id="domain-tag-{{.Name}}" 
    class="px-2 py-1 flex items-center bg-green-800 border border-green-500" 
>
    <span class="domain-tag-name"> {{.Name}} </span>
    <i 
        class="gg-close domain-tag-delete-btn" 
        style="cursor: pointer; display: none;"
        onclick='deleteTag("{{.Name}}")' 
    ></i>
</div>
{{end}}

