#navigator {
    position: fixed;
    width: 100%;
    background-color: rgb(15 23 42);
    border-bottom: 1px solid rgb(14, 165, 233);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#toolbar {
    display: flex;
    justify-content: space-between;
}

#menu-btn {
    --ggs: 1.5;
    /* todo: use rem? */
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 500ms;
}

#menu-btn.collapsed {
    transform: rotate(180deg);
}

#drawer {
    transition: height 500ms;
    height: 0px;
    overflow: hidden;
}

#drawer-content {
    display: flex;
    justify-content: space-between;
}

#services {
    display: flex;
    flex-direction: column;
}

#services h1 {
    font-weight: 700;
    font-size: 1.25rem;
}

#services a {
    cursor: pointer;
}

#services span:hover {
    text-decoration: underline;
}

.account-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.account-actions button {
    padding: 0.25rem;
    border: 1px solid;
}

#sign-in-btn {
    background-color: rgb(7 89 133);
    border-color: rgb(14 165 233);
}

#sign-in-btn:hover {
    background-color: rgb(12 74 110);
}

#sign-up-btn {
    background-color: rgb(22 101 52);
    border-color: rgb(34 197 94);
}

#sign-up-btn:hover {
    background-color: rgb(20 83 45);
}

#sign-out-btn {
    background-color: rgb(107 33 168);
    border-color: rgb(168 85 247);
}

#sign-out-btn:hover {
    background-color: rgb(88 28 135);
}

/* icon */

.gg-menu {
    transform: scale(var(--ggs, 1));
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}

.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}

.gg-menu::after {
    top: 6px
}

.gg-chevron-up-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

.gg-chevron-up-r::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 6px;
    bottom: 5px
}
