html, body {
    height: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#carousel {
    /* width: 200vw; */
    /* height: 200vh; */
    transition-duration: 600ms;
    /* -webkit-transition-duration: 600ms; */
}

#carousel.first {
    transform: translate(0vw);
}

#carousel.second {
    transform: translate(-100vw);
    /* -webkit-transform: translate(100%);     */
}

#carousel.retracted {
    transform: translateY(100vh);
}
