{{ $transitionDuration := 500 }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Washambi</title>

    <style>
        html, body {
            height: 100%;
        }
        body {
            opacity: 0;
            transition-property: opacity;
            transition-timing-function: ease-in-out;
            transition-duration: {{ $transitionDuration }}ms;
            background-color: rgb(30 41 59);
            color: rgb(255 255 255);
        }
    </style>

    {{ if .isRegistrar }} {{ else }}
    <link rel="stylesheet" href="{{ .fancypenosiUrl }}/public/style/navigator.css" type="text/css" />
    {{ end }}

    <link rel="stylesheet" href="/public/style/main.css" type="text/css" />

    {{ range .styles }}
    <link rel="stylesheet" href="{{ . }}" type="text/css" />
    {{ end }}
</head>

<body>
    {{ if .isRegistrar }} {{ else }}
    <div id="navigator"></div>
    {{ end }}

    {{ block "content" . }} {{ end }}

    <script>
        const fancypenosiUrl = "{{ .fancypenosiUrl }}";
        const transitionDuration = {{ $transitionDuration }};
        let registrarAction = "{{ .registrarAction }}";
    </script>

    {{ if .isRegistrar }} {{ else }}
    <script type="module" src="{{ .fancypenosiUrl }}/public/script/navigator.js"></script>
    {{ end }}

    <script type="module" src="{{ .cornpopUrl }}/script/window.js"></script>
</body>

</html>

