<div id="toolbar">
    <div></div>

    <div id="menu-btn">
        <i class="gg-menu"></i>
    </div>
</div>

<div id="drawer">
    <div id="services">
        <h1>Services</h1>
        <a onclick='fadeTo("#")'>Kanban</a>
        <a>Bookmarks</a>
    </div>
    <div class="account-actions" {{if .authorized}} {{else}} style="display: none;" {{end}}>
        <button class="account-action" id="sign-out">
            sign out
        </button>
    </div>
    <div class="account-actions" {{if .authorized}} style="display: none;" {{end}}>
        <button class="account-action" onclick='fadeTo(`${fancypenosiUrl}/sign-in`)'>sign in</button>
        <button class="account-action" onclick='fadeTo(`${fancypenosiUrl}/sign-up`)'>sign up</button>
    </div>
</div>
