{{define "navigator"}}
<div id="toolbar">
    <div class="nav-btn" onclick='fadeTo("/")'>
        <i class="gg-coffee"></i>
    </div>
    {{if .auth.Authenticated}}
    <div class="nav-btn" onclick='fadeTo(`${fancypenosiUrl}/account`)'>
        <i class="gg-user"></i>
    </div>
    {{else}}
    <div id="registrar-actions">
        <button id="sign-in-btn" onclick='fadeTo(`${fancypenosiUrl}/sign-in`)'>sign in</button>
        <button id="sign-up-btn" onclick='fadeTo(`${fancypenosiUrl}/sign-up`)'>sign up</button>
    </div>
    {{end}}
</div>
{{end}}
