<div id="toolbar">
    <div></div>

    <div id="menu-btn">
        <i class="gg-menu"></i>
    </div>
</div>

<div id="drawer">
    <div>
        <div>tools</div>
    </div>
    <div>
        {{ if .authorized }}
        <button class="account-action" id="sign-out">sign out</button>
        {{ else }}
        <div>
            <button class="account-action" onclick='fadeTo("/sign-in")'>sign in</button> /
            <button class="account-action" onclick='fadeTo("/sign-up")'>sign up</button>
        </div>
        {{ end }}
    </div>
</div>
