{{ define "sign-in" }}

<div class="h-full w-[100vw] flex justify-center items-center">
    <div class="w-2/5 p-5 bg-white/75 rounded-lg backdrop-blur-sm">
        <form id="sign-in-form" class="flex flex-col space-y-5">
            <h1 class="font-bold text-3xl text-center">Sign In to Washambi</h1>

            <div>
                <label class="font-bold" for="sign-in-email">Email:</label>
                <input class="w-full rounded border-2 border-slate-300 valid:border-green-500" id="sign-in-email"
                    name="sign-in-email" type="email" required />
            </div>

            <div>
                <label class="font-bold" for="sign-in-password">Password:</label>
                <input class="w-full rounded border-2 border-slate-300 valid:border-green-500" id="sign-in-password"
                    name="sign-in-password" type="password" required />
            </div>

            <button id="sign-in-submit" class="py-2 bg-green-200 outline outline-2 outline-green-500 rounded-full"
                type="submit">
                Sign In
            </button>

            <div id="sign-in-error" class="p-3 outline outline-1 outline-red-500 bg-red-200 hidden">
                🚫 <span id="sign-in-error-text"></span>
            </div>

            <div id="sign-in-success" class="p-3 outline outline-1 outline-green-500 bg-green-200 hidden">
                ✅ <span>Sign in successful!</span>
            </div>

            <button {{ if eq .accountAction "sign-in" }} id="focus-second" {{ else }} id="focus-first" {{ end }}
                type="button" class="text-center focus-sign-up">
                Don't have an account? Sign up
            </button>
        </form>
    </div>
</div>

{{ end }}
