{{define "content"}}
<div id="navigator"></div>

<div class="h-full flex">
    <div id="domain-list" class="h-full w-[200px] min-w-[200px] overflow-y-scroll">
        {{range .domainList}}
        {{block "domain-list-item" .}}{{end}}
        {{end}}
    </div>

    <form 
        id="domain-create-form"
        class="grow p-2"
        onsubmit="domainCreate(event)"
    >
        <div class="p-2 rounded-lg bg-slate-700">
            <label for="domain-title-input" class="text-slate-500">title</label>
            <br>
            <input 
                id="domain-title-input" 
                type="text" 
                title="domain-title-input" 
                class="mb-1 w-full" 
                placeholder='eg. "Google"'
                required
                pattern="\S(.*\S)?"
            >

            <hr>

            <label for="domain-name-input" class="text-slate-500">domain name</label>
            <br>
            <input 
                id="domain-name-input" 
                type="text" 
                name="domain-name-input" 
                class="mb-1 w-full" 
                placeholder='eg. "google.com"'
                required
                pattern="\S(.*\S)?"
            >

            <hr>

            <label for="domain-tags-input" class="text-slate-500">tags</label>
            <br>
            <div id="domain-tags" class="mb-1 flex flex-wrap gap-2"> 
                <span id="domain-tag-next" style="display: none;"></span>
                <input 
                    id="domain-tags-input" 
                    type="text" 
                    name="domain-tags-input" 
                    size="10"
                    list="tag-completion"
                    placeholder='eg. "search"'
                >
                <datalist id="tag-completion">
                    {{range .tagList}}
                    <option value="{{.Name}}"></option>
                    {{end}}
                </datalist>
            </div>
        </div>

        <button class="px-2 py-1 mt-1 bg-blue-700 hover:bg-blue-800 border border-1 border-blue-500" type="submit">submit</button>
    </form>
</div>

<script>
    window.domainCreate = async function(event) {
        event.preventDefault();

        let tags = [];
        const domainTagNames = document.querySelectorAll(".domain-tag-name");
        for (let i = 0; i < domainTagNames.length; i++) {
            tags = [...tags, domainTagNames[i].innerText];
        }

        const res = await fetch("/domain-create", {
            method: "POST",
            credentials: "include",
            body: JSON.stringify({
                name: document.querySelector("#domain-name-input").value,
                tags,
            })
        })
        if (!res.ok) return;
        const frag = await res.text();
        const domainList = document.querySelector("#domain-list");
        domainList.innerHTML = frag + domainList.innerHTML;
    };

    window.deleteTag = function(i) {
        document.querySelector(`#domain-tag-${i}`).outerHTML = "";
    };

    document
        .querySelector("#domain-tags-input")
        .addEventListener("keyup", function(event) {
            if (event.key === " ") {
                const v = event.target.value.trim()
                if (v === "") return;

                const domainTagNames = document.querySelectorAll(".domain-tag-name");
                let f = false;
                for (let i = 0; i < domainTagNames.length; i++) {
                    if (domainTagNames[i].innerText === v) {
                        f = true;
                    }
                }

                if (!f) {
                    document.querySelector("#domain-tag-next").outerHTML = `
                        <div
                            id="domain-tag-${v}"
                            class="px-2 py-1 flex items-center bg-green-800 border border-green-500"
                        >
                            <span class="domain-tag-name">${v}</span>
                            <i 
                                class="gg-close"
                                style="cursor: pointer;"
                                onclick='deleteTag("${v}")'
                            ></i>
                        </div>
                        <span id="domain-tag-next" style="display: none;"></span>
                    `;
                }

                event.target.value = "";
            }
        });
</script>
{{end}}

{{define "domain-list-item"}}
<div class="p-2 flex gap-2 bg-slate-700 hover:bg-slate-800 border border-l-transparent border-t-transparent border-r-slate-500 border-b-slate-500">
    <i class="gg-globe-alt"></i>
    <span>{{.Name}}</span>
</div>
{{end}}

