{{define "content"}}
<div id="navigator"></div>

<div class="h-full flex">
    <div class="p-2 flex flex-col items-center gap-2 bg-slate-950 border border-transparent border-r-slate-500">
        <div
            class="flex flex-col items-center w-[32px] h-[32px] cursor-pointer"
            onclick="viewDomain()">
            <i class="gg-globe-alt sidebar-icon top-1"></i>
        </div>
        <div 
            class="flex flex-col items-center w-[32px] h-[32px] cursor-pointer"
            onclick="viewBookmark()">
            <i class="gg-bookmark sidebar-icon top-1"></i>
        </div>
    </div>
    {{block "view" .}}{{end}}
</div>

<datalist id="tag-completion">
    {{range .tagList}}
    <option value="{{.Name}}"></option>
    {{end}}
</datalist>

<script>
    async function domainCreate(event) {
        event.preventDefault();

        let tags = [];
        const domainTagNames = document.querySelectorAll(".domain-tag-name");
        for (let i = 0; i < domainTagNames.length; i++) {
            tags = [...tags, domainTagNames[i].innerText];
        }

        const res = await fetch("/domain-create", {
            method: "POST",
            credentials: "include",
            body: JSON.stringify({
                name: document.querySelector("#domain-name-input").value,
                tags,
            })
        });
        if (!res.ok) return;
        const frag = await res.text();
        console.log(frag)
        // const domainList = document.querySelector("#domain-list");
        // domainList.innerHTML = frag + domainList.innerHTML;
    }

    function deleteTag(name) {
        document.querySelector(`#domain-tag-${name}`).outerHTML = "";
    }

    function newTag(event) {
        if (event.key === " ") {
            const v = event.target.value.trim();
            if (v === "") return;

            const domainTagNames = document.querySelectorAll(".domain-tag-name");
            let f = false;
            for (let i = 0; i < domainTagNames.length; i++) {
                if (domainTagNames[i].innerText === v) {
                    f = true;
                }
            }

            if (!f) {
                document.querySelector("#domain-tag-next").outerHTML = `
                    {{block "tag-new" .}}{{end}}
                    <span id="domain-tag-next" style="display: none;"></span>
                `;

                document.querySelector("#domain-tag-new").id = `domain-tag-${v}`;

                const dtnn = document.querySelector("#domain-tag-name-new");
                dtnn.innerText = v;
                dtnn.removeAttribute("id");

                const dtdbn = document.querySelector("#domain-tag-delete-btn-new");
                dtdbn.onclick = () => deleteTag(v);
                dtdbn.removeAttribute("id");
            }

            event.target.value = "";
        }
    }

    async function domainGet(id) {
        const res = await fetchPartial(`/domain-get/${id}`);
        if (!res.ok) {
            return;
        }
        const frag = await res.text();
        document.querySelector("#domain-form").outerHTML = frag;
    }

    async function domainNew() {
        const res = await fetchPartial("/domain-get/new");
        if (!res.ok) {
            return;
        }
        const frag = await res.text();
        document.querySelector("#domain-form").outerHTML = frag;
    }

    async function viewDomain() {
        const res = await fetchPartial("/view-domain");
        if (!res.ok) {
            return;
        }
        const frag = await res.text();
        document.querySelector("#view").outerHTML = frag;
    }

    async function viewBookmark() {
        const res = await fetchPartial("/view-bookmark");
        if (!res.ok) {
            return;
        }
        document.querySelector("#view").outerHTML = await res.text();
    }
</script>
{{end}}

{{define "tag-new"}}
<div 
    id="domain-tag-new" 
    class="px-2 py-1 flex items-center bg-green-800 border border-green-500" 
>
    <span 
        id="domain-tag-name-new" 
        class="domain-tag-name"
    ></span>
    <i 
        id="domain-tag-delete-btn-new"
        class="gg-close domain-tag-delete-btn" 
        style="cursor: pointer;"
    ></i>
</div>
{{end}}

