<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/htmx.min.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <meta charset="UTF-8" />
    <title>ggspp</title>
  </head>
  <body>
    <%- include(pageName, options) %>
    <script>
      document.body.addEventListener("sign-out", function () {
        location.href = "/sign-in";
      });
    </script>
  </body>
</html>
