<div class="flex justify-center">
  <div class="flex flex-col w-1/2 space-y-4">
    <div class="flex justify-center">
      <div class="text-2xl font-bold">Sign up for Foo</div>
    </div>
    <div id="sign-up-problem" style="margin: 0"></div>
    <div>
      <div class="font-bold">Email</div>
      <input name="email" class="w-full" />
    </div>
    <div>
      <div class="font-bold">Password</div>
      <input name="password" class="w-full" type="password" />
    </div>
    <button
      hx-include="[name='email'], [name='password']"
      hx-post="/sign-up"
      hx-target="#sign-up-problem"
      hx-swap="outerHTML"
    >
      Sign Up
    </button>
    <div class="flex justify-center">
      <a href="/sign-in">Already have an account? Sign in</a>
    </div>
  </div>
</div>
