<!-- todo: refactor with form tag -->
<div class="flex justify-center">
  <div class="flex flex-col w-1/2 space-y-4">
    <div class="flex justify-center">
      <div class="text-2xl font-bold">Sign in to Ggspp</div>
    </div>
    <div id="sign-in-problem" style="margin: 0"></div>
    <div>
      <div class="font-bold">Email</div>
      <input name="email" class="w-full" />
    </div>
    <div>
      <div class="font-bold">Password</div>
      <input name="password" class="w-full" type="password" />
      <a href="/recover">Forgot password?</a>
    </div>
    <button
      hx-include="[name='email'], [name='password']"
      hx-post="/sign-in"
      hx-target="#sign-in-problem"
      hx-swap="outerHTML"
    >
      <!-- hx-trigger="click" -->
      Sign In
    </button>
    <div class="flex justify-center">
      <a href="/sign-up">Don't have an account? Sign up</a>
    </div>
  </div>
</div>
