<h1 class="text-xl font-bold">domain</h1>

<!-- todo: validation -->
<!-- todo: clear input -->
<form hx-post="/domain-create" hx-target="#domain-list" hx-swap="afterbegin">
  <input id="domainCreateName" name="domainCreateName" type="text" />
  <button type="submit">submit</button>
</form>

<!-- todo: transitions -->
<div
  id="domain-create-success"
  class="m-1 p-1 outline outline-1 outline-green-500 bg-green-900"
  style="display: none"
>
  ✅ success!
</div>

<div
  id="domain-create-error"
  class="m-1 p-1 outline outline-1 outline-red-500 bg-red-900"
  style="display: none"
></div>

<div id="domain-list" class="grid gap-4 grid-cols-3 m-4">
  <!-- todo: use include -->
  <% domains.forEach(x => { %>
  <a href="/domain/<%= x.id %>" class="outline outline-1 outline-blue-500 p-4"><%= x.name %></a>
  <% }); %>
</div>

<script>
  document.body.addEventListener("domain-create-status", function (event) {
    let id = "";
    if (event.detail.status === "success") {
      id = "domain-create-success";
      document.getElementById(id).style.display = "block";
    } else {
      id = "domain-create-error";
      document.getElementById(id).innerHTML = `🚫 ${event.detail.message}`;
      document.getElementById(id).style.display = "block";
    }

    setTimeout(function () {
      document.getElementById(id).style.display = "none";
    }, 5000);
  });
</script>
