<h1>domain</h1>

<!-- todo: list of domains -->
<!-- todo: validation -->
<div id="asdf">nothing</div>

<div id="domainCreateStatus" style="margin: 0"></div>

<form hx-post="/domain-create" hx-target="#asdf">
  <input id="domainCreateName" name="domainCreateName" type="text" />
  <button type="submit">submit</button>
</form>
